<h1>Create a triangle!</h1>

<form action="/triangle_form" method="post">
  <div class="form-group">
    <label for="side1">Side One:</label>
    <input id="side1" class="form-control" type="text" name="side1">
    <label for="side2">Side Two:</label>
    <input id="side2" class="form-control" type="text" name="side2">
    <label for="side3">Side Three:</label>
    <input id="side3" class="form-control" type="text" name="side3">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
